@use '../variables' as *;
@use '../functions' as *;
@use '../mixins' as *;

.#{$ns}Each {
  &-placeholder {
    color: var(--text--muted-color);
    text-align: left;
    padding: var(--gap-sm);
  }
}
