@use '../variables' as *;
@use '../functions' as *;
@use '../mixins' as *;

.#{$ns}JsonField {
  &-nodeValue {
    white-space: normal;
    word-break: break-all;
    overflow-wrap: break-word;
  }
}
