/*!markdown

---
title: Text Transform
---

| Class       | Properties               |
| ----------- | ------------------------ |
| uppercase | text-transform: uppercase |
| lowercase | text-transform: lowercase |
| capitalize | text-transform: capitalize |
| normal-case | text-transform: none |



*/
@use 'sass:map';
@use '../../variables' as *;
@use '../../functions' as *;
@use '../../mixins' as *;
@use '../../functions' as *;
@use '../../mixins' as *;

@mixin make-text-transform($prefix: '.') {
  #{$prefix}uppercase {
    text-transform: uppercase;
  }

  #{$prefix}lowercase {
    text-transform: lowercase;
  }

  #{$prefix}capitalize {
    text-transform: capitalize;
  }

  #{$prefix}normal-case {
    text-transform: none;
  }
}

@include make-text-transform();

@each $deivce in map.keys($devices) {
  @include media-device($deivce) {
    @include make-text-transform('.' + selector-escape($deivce + ':'));
  }
}

// hover ?
