/*!markdown

---
title: Text Align
---

| Class       | Properties               |
| ----------- | ------------------------ |
| text-left | text-align: left |
| text-center | text-align: center |
| text-right | text-align: right |
| text-justify | text-align: justify |


*/
@use 'sass:map';
@use '../../variables' as *;
@use '../../functions' as *;
@use '../../mixins' as *;
@use '../../functions' as *;
@use '../../mixins' as *;

@mixin make-text-align($prefix: '.') {
  #{$prefix}text-left {
    text-align: left;
  }

  #{$prefix}text-center {
    text-align: center;
  }

  #{$prefix}text-right {
    text-align: right;
  }

  #{$prefix}text-justify {
    text-align: justify;
  }
}

@include make-text-align();

@each $deivce in map.keys($devices) {
  @include media-device($deivce) {
    @include make-text-align('.' + selector-escape($deivce + ':'));
  }
}

// hover ?
