/*!markdown

---
title: Vertial Align
---

| Class       | Properties               |
| ----------- | ------------------------ |
| align-baseline | vertical-align: baseline |
| align-top | vertical-align: top |
| align-middle | vertical-align: middle |
| align-bottom | vertical-align: bottom |
| align-text-top | vertical-align: text-top |
| align-text-bottom | vertical-align: text-bottom |



*/
@use 'sass:map';
@use '../../variables' as *;
@use '../../functions' as *;
@use '../../mixins' as *;
@use '../../functions' as *;
@use '../../mixins' as *;

@mixin make-vertical-align($prefix: '.') {
  #{$prefix}align-baseline {
    vertical-align: baseline;
  }

  #{$prefix}align-top {
    vertical-align: top;
  }

  #{$prefix}align-middle {
    vertical-align: middle;
  }

  #{$prefix}align-bottom {
    vertical-align: bottom;
  }

  #{$prefix}align-text-top {
    vertical-align: text-top;
  }

  #{$prefix}align-text-bottom {
    vertical-align: text-bottom;
  }
}

@include make-vertical-align();

@each $deivce in map.keys($devices) {
  @include media-device($deivce) {
    @include make-vertical-align('.' + selector-escape($deivce + ':'));
  }
}

// hover ?
