@use '../../variables' as *;
@use '../../functions' as *;
@use '../../mixins' as *;

.#{$ns}ChainedSelectControl {
  .#{$ns}Select {
    margin-right: var(--gap-xs);
  }

  &-spinner {
    display: inline-block;
    vertical-align: middle;
  }
}
